@import "helpers/variables.scss";
@import "helpers/classes.scss";

@import "components/reset.scss";
@import "components/header.scss";
@import "components/section1.scss";
@import "components/section2.scss";
@import "components/section3.scss";
@import "components/svg-anim.scss";
@import "components/menu-hover.scss";
@import "components/lines.scss";
@import "components/circles.scss";
@import "components/dots.scss";