.circle1 {
    width: 45px;
    height: 45px;
    background-color: $darkvio;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    bottom: 5.5rem;
    left: 99vw;
}

.circle2 {
    width: 45px;
    height: 45px;
    background-color: $darkvio;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    bottom: 5.5rem;
    left: 199vw;
}

.circle3 {
    width: 45px;
    height: 45px;
    background-color: $darkvio;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    bottom: 49%;
    left: 217.5vw;
}

.circle4 {
    width: 45px;
    height: 45px;
    background-color: $darkvio;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    bottom: 49%;
    left: 299.5vw;
}