header {

    nav {

        ul {

            li {

                &:hover {

                    div {
                        transform: scaleX(1);
                        transition: $base;
                    }
                }

                div {
                    background-color: $lightvio;
                    color: $gold;
                    width: 200px;
                    height: 6rem;
                    position: absolute;
                    left: 200px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: $base;
                    border-radius: 0 30px 30px 0;
                }
            }
        }
    }
}