main {
    
    .sect3 {

        h2 {
            margin-left: 10%;
            width: 100%;
            font-size: 60px;
            font-family: Montserrat, sans-serif;
        }

        .art1 {
            width: 600px;
            height: 300px;
            background-color: $gold;
            position: absolute;
            left: 236vw;
            bottom: 10%;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            padding: 0 3rem;
            font-size: 1rem;
            box-shadow: 10px 10px 8px #0000004d;
            font-family: Roboto, sans-serif;

            &::before {
                width: fit-content;
                height: 200px;
                content: 'Le fils légitime';
                position: inherit;
                top: -300px;
                font-family: Montserrat, sans-serif;
                font-size: 2rem;
            }
        }

        .art2 {
            width: 600px;
            height: 300px;
            background-color: $gold;
            position: absolute;
            left: 261vw;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            box-shadow: 10px 10px 8px #0000004d;
            font-family: Roboto, sans-serif;

            img {
                width: 400px;
                height: auto;
                box-shadow: 5px 5px 8px #0000004d;
            }

            &::before {
                width: fit-content;
                height: 200px;
                content: 'Content';
                position: inherit;
                bottom: -500px;
                font-family: Montserrat, sans-serif;
                font-size: 2rem;
            }
        }

        .art3 {
            width: 600px;
            height: 300px;
            background-color: $gold;
            position: absolute;
            left: 286vw;
            bottom: 10%;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            box-shadow: 10px 10px 8px #0000004d;
            font-family: Roboto, sans-serif;

            &::before {
                width: fit-content;
                height: 200px;
                content: 'Content';
                position: inherit;
                top: -300px;
                font-family: Montserrat, sans-serif;
                font-size: 2rem;
            }
        }
    }
}