// COLORS
$gold: #FFD166;
$darkvio: #53082F;
$faded: #8d074c;
$lightvio: #593C8F;

// FONTS
$mont: Montserrat, sans-serif;

// PADDING & MARGIN
$pTitle: 20px 0 0 0;
$pTxt: 0 0 0 20%;
$pBox: 20px 20px;
$mBox: 30px 0 0 300px;

//TRANSISTIONS
$base: 0.2s;
$half: 0.5s